* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    font-family: 'Raleway';
}
.sidenav {
  height: 100%;
  width: 320px;;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  overflow-x: hidden;
  padding: 10px;
}
.sidenav .logo{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.btn:hover
{
    background: #494C4D;
    border-radius: 6px;
}
.active:hover
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.active
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
  
}
.popup {
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    display: none;
}
.popup .formclass
{
    height:70vh;
    width:500px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 30px;
    background:#fff;
    border: 2px solid rgb(183,53,32); ;
    border-radius: 1rem;
    position: relative;
    
}
.formclass label
{
    font-weight: bold;
    font-size: 1.2rem;
}
.formclass input
{
    width: 100%;
    margin:20px 0;
}
.formclass textarea
{
    resize: none;
}
.formclass input[type="text"]{
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 1rem;
    color: #000;

}
.popup input[type="submit"]:hover
{
    color: #000;
    cursor: pointer;
}
.formclass input[type="submit"]
{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:rgb(183,53,32);
    border-radius: 25px;
    text-align: center;
}
.formclass .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(42deg);
    cursor: pointer;
    font-weight: bold;
}
#button1
{
    width:350px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:rgb(183,53,32);
    border-radius: 5px;
    text-align: center;
    margin: 20px 400px;
}
.content-table {
  border-collapse: collapse;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 15px;
  width: 600px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color:rgb(183,53,32);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
    border-left: 1px solid #dddddd; 
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  
    
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(183,53,32);
}