*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-position: center;
    font-family: 'Raleway';
}
.formclass
{
    height:50vh;
    width:500px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 30px;
    background:#fff;
    border: 2px solid rgb(183,53,32); 
    border-radius: 1rem;
}
.formclass h2
{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    font-weight:900;
}
.formclass label
{
    font-weight: bold;
    font-size: 1.2rem;
}
.formclass input
{
    width: 100%;
    margin:10px 0;
}
.formclass input[type="password"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 1rem;
    color: #000;

}
.popup input[type="submit"]:hover
{
    color: #000;
    cursor: pointer;
}
.formclass button
{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:rgb(183,53,32);
    border-radius: 25px;
    text-align: center;
}
.formclass button:hover
{
    color: #000;
    cursor: pointer;
}
