*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
body{
    background-position: center;

}
nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 60px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
nav .logo
{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
nav ul li
{
    padding-left: 15px;
}
nav ul{
    list-style: none;
    float: right;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 80px; 
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    
}
ul li a:hover{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.btn:hover
{
    background: #494C4D;
    border-radius: 6px;
}
.active:hover
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.active
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.mySlides
{
    display: none;
}
.mySlides img 
{
    vertical-align: middle;
}

/* culturebox */
.culturebox{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #fef;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align:center;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 360px
}

/*
 Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
*/

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
/*
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
*/
  animation-name: fade;
  animation-duration: 1.5s;
}

/*
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
*/

/*
 On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
*/
/*designing description box*/
.descriptionbox
{
    padding: 50px;
    font-size: 20px;
    font-weight: 800;
    word-spacing: 5px;
}

/*
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
    
  
}
.card h2{
    margin: 15px;
}

.title {
  color: grey;
  font-size: 18px;
    margin: 15px;
}
i
{
    margin: 15px 0 0 0;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 15px 0 0 0; 
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.flex-container1 {
  margin: 10px;
  width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container2 {
  margin: 10px;
  width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card button:hover,.card a:hover {
  opacity: 0.7;
}
*/
.homestaylistbox a {
   text-decoration: none;
    color: #000;
}
.homestaybox
{
    height: 270px;
    width: 45%;
    position: relative;
    display: flex;
    border: 1px solid black;
    margin: 0 0 20px 50px;
    border-radius: 20px;
    float: left;
    width: 45%;
}

.homestaybox .contentbox
{
    height: 250px;
    padding: 12px;
    position: relative;
}
/*homestays heading*/
.homestaybox .contentbox h3{
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bolder;
}
/*descreption*/
.homestaybox .contentbox p
{
    font-size: 15px;
}
/*image for homestays*/
.homestaybox .imagebox img
{
    width: 355px;
    height: 250px;
    padding: 10px;
    border-radius:8%;
}
/*image of location*/
.homestaybox .contentbox img
{
    height: 15px;
    width: 15px;
    margin: 10px 10px 0 0;
}
/*location inside content box*/
.homestaybox .contentbox .location{
    font-size: 10px; 
    display: inline;
}
/*desing favourite icon*/
.homestaybox .contentbox .favourites
{
   margin: 10px 0 0 250px;
    padding-bottom: 10px;
}
.homestaybox .contentbox .favourites input
{
    display: none;
}
.homestaybox .contentbox .favourites label
{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
/*for making label a heart*/
.homestaybox .contentbox .favourites label:before
{
    content: "\2661"; 
    position: absolute;
    font-size: 35px;
    display: inline-block;
    top: -20px;
    left: 15px;
    
}
/*for overlapping another heart*/
.homestaybox .contentbox .favourites label:after
{
    content: "\2661";
    position: absolute;
    font-size: 35px;
    display: inline-block;
    top: -20px;
    left: 15px;
    color: red;
    opacity: 0;
    
}
/*~ is a selection indicator...makes red after clicking on it*/
.homestaybox .contentbox .favourites input:checked ~ label:after
{
    opacity: 1;
}
/*for hovering effects*/
.homestaybox:hover 
{
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}
.homestaybox:hover h3
{
    color: rgb(183,53,32);
    transition: 0.5s ease;
}
/*for load more and load less*/
#more{
    display: none;
}
#load {
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    outline: none;
    width: 10rem;
    border-radius: 5px;
    background-color:rgb(183,53,32);
    color: #fff;
    margin: 2rem 0  2rem 43rem;
}
#load:hover{
    background-color: rgb(183,53,45);
}
footer
{
    margin-top: 400px;
    background-color: #000;
    height: 30vh;
    position: relative;
}
footer .text
{
    color: #fff;
    float: right;
    font-size: 25px;
    font-weight: bolder;
    padding: 10px 30px 0 0
}
footer .foot
{
    display: inline-grid;
    margin:0 40px;
}
.foot a
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
}
.foot a:hover
{
    color:rgb(183,53,32);
}
.icons{
    margin-left: 30px;
}
.icons img
{
    height: 50px;
    width: 50px;
}
.icons img:hover
{
    transform: scale(1.25);
}




