*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-position: center;
    font-family: 'Raleway';
}
.formbox{
    height:175vh;
    width:700px;
    position: absolute;
    padding: 30px 30px;
    background:#fff;
    border: 2px solid rgb(183,53,32);
    border-radius: 1rem;
    margin-left: 30%;
}
h1
{
    text-align: center;
}
label
{
    font-weight: 800;
    font-size: 20px;
    display: grid;
}
textarea
{
    resize: none;
    font-size: 18px;
}
.area
{
    margin: 15px 0;
}

input
{
    width: 100%;
    height:5vh;
    font-size: 15px;
}
.button
{
    border-radius: 10px;
    width:100%;
    height:8vh;
    background-color:rgb(183,53,32);
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    
}
.sidenav {
  height: 100%;
  width: 320px;;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  overflow-x: hidden;
  padding: 10px;
}
.sidenav .logo{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.btn:hover
{
    background: #494C4D;
    border-radius: 6px;
}
.active:hover
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.active
{
    background: rgba(183,53,32, 0.7);
    border-radius: 6px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
  
}