* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    font-family: 'Raleway';
}

.loginbox {
    height: 530px;
    width: 600px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    background: #fff;
    border: 2px solid rgb(183,53,32);
    border-radius: 1rem;


}

.usericon {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    margin-left: 230px;
    background-color: #fff;

}

h1 {
    padding: 0 0 10px;
    text-align: center;
    font-size: 2rem;
}

.loginbox label {
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 1rem;
    color: #000;
}


.loginbox input[type="submit"] {
    border: none;
    outline: none;
    padding: 20px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    background: rgb(183,53,32);
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    line-height: 20px;

}

.loginbox a:hover {
    color: rgb(183,53,32);
}

.loginbox input[type=checkbox] {
    margin-left: -16.5rem;
    vertical-align: baseline;


}

.loginbox label[for=remember] {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0px;
    text-indent: -16rem;

}

.donot {
    font-weight: bold;
    text-align: center;
}
.popup {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    display: none;
}
.popup h2
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    color: rgb(183,53,32)
}
.popup .formclass
{
    height:40vh;
    width:500px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 30px;
    background:#fff;
    border: 2px solid rgb(183,53,32); ;
    border-radius: 1rem;
    position: relative;
    
}
.formclass label
{
    font-weight: bold;
    font-size: 1.2rem;
}
.formclass input
{
    width: 100%;
    margin:20px 0;
}
.formclass input[type="text"]{
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 1rem;
    color: #000;

}
.popup input[type="submit"]:hover
{
    color: #000;
    cursor: pointer;
}
.formclass button
{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:rgb(183,53,32);
    border-radius: 25px;
    text-align: center;
}
.formclass button:hover
{
    color: #000;
    cursor: pointer;
}
.formclass .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(42deg);
    cursor: pointer;
    font-weight: bold;
}
